$mainColor: #3387f7;
$navBackground: #191c20;
$whiteColor: #fff;
$background-image: #171c20c2;
$pTextColor: rgb(202, 202, 202);
$info-section: #252a30;
$whitelist-section: #202429;
$whitelist-box: none;
$footer-color: #2c3138;
$staffs-name: #21252b;
$contact-section: #292d33;